<h2 class="page-header">My Profile</h2>
<ul class="list-group" >
  <li class="list-group-item"><img src="{{ dog.imgPath }}"></li>
  <li class="list-group-item">Name:  {{ dog.name }}</li>
  <li class="list-group-item">Owner:  {{ dog.owner }}</li>
  <li class="list-group-item">Gender:  {{ dog.gender }}</li>
  <li class="list-group-item">Personality:  {{ dog.personality }}</li>
  <li class="list-group-item">Do I like Plush Toy?  {{ dog.likesToy }}</li>
  <li class="list-group-item">Do I like Cat?  {{ dog.likesCat }}</li>
</ul>
<br />
<br />

<button [routerLink]="['/dog-love']" type="submit" name="button" class="btn btn-success">Make dogLove happen now!</button>

<button [routerLink]="['']" type="submit" name="button" class="btn btn-info">Go back</button>


